<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="server=localhost;user id=root;password=root;database=test"/>
    <add key="sql" value="SELECT batchName FROM tasks WHERE project in('PFacial_DG','PFacial_PH','PFacial_BG') AND taskName='Merge'"/>
  </appSettings>
</configuration>